@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --color-primaire: #f5c400;   /* Jaune Le Goût des Autres */
  --color-secondaire: #141414; /* Noir intense */
  --color-bg: #f7f7f7;         /* Fond très clair */

  --font-principale: "Lato", sans-serif;
  --font-titres: "Glass Antiqua", cursive;
}

/* Applique la police principale partout */
body {
  font-family: var(--font-principale);
  background-color: var(--color-bg);
  color: var(--color-secondaire);
}

/* Applique la police pour les titres */
h1, h2, h3, h4, h5 {
  font-family: var(--font-titres);
}
